*{font-family: 'Playfair Display Regular', serif;}
body{
    background-image: url(../img/Livello7.png)
}
header, body{
    width: 100%;
    text-align: center;
    color:#626262;
}

ul li{
    list-style-type: none;
    font-size: 14px; 
    text-transform: uppercase;	
    display: inline-block;
    padding: 77px 87px 73px;
    line-height: 24px;
}
a{
    text-decoration: none;
    text-align: center;
}
a:visited,:active{
    color: #626262;
}
a:hover{
    text-decoration-style: solid;
    color: #9addfb;
    text-align: center;
}
.row{
    width: 100%;
}
.box{
    height: 611px;
    width: 421px;
    text-align: justify;
    padding: 0px 75px 60px;
    
}
.row .box{
    display: inline-block;
}
.underimg{
    font-family: 'Ubuntu Lite', serif;
    text-transform: uppercase;
    color: #b4ad9e;
    height: 25px;
    width: 407px;
    padding: 30px 0px 15px;
}
.button1 {
    display: inline-block;
    color:black;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s; 
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 60px;
} 
.button1:hover { 
    background: transparent;
    color: #9addfb; }

